# -----------------------------
# Python
# -----------------------------
venv/
__pycache__/
*.pyc
.env

# -----------------------------
# Node / Next.js
# -----------------------------
node_modules/
.next/
dist/
build/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db